
body{
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	color: #AE7C78;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
}
li{
	display: inline;
	margin-right: 5%;
}
a{
	text-decoration: none;
	color: #AE7C78;
}

dd{
	margin-left: 0;
	margin-top: 8px;
}

h2{
	font-family: Playfair Display;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	color: #AE7C78;
}
h3{
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	color: #AE7C78;
}
h4{
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;;
	text-align: left;
	color: #AE7C78;
}
hr{
	border: 1px solid #AE7C78;
}
span{
	font-family: Playfair Display;
	font-style: italic;
	font-weight: normal;
	line-height: 59px;
}

dt{
	font-weight: 500;
}
dd{
	font-style: normal;
}

.main-header{
	width: 100%;
	height: 64px;
	text-align: center;
	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
	margin-top: 26px;
	padding: 22px 0 10px 0;
}
.nav-main{
	margin: 0 auto;
}
.hspace {
	padding-right: 10%;
}
.logo {
	position: absolute;
	left: 46%;
	top: 55px;
}
.hh-1{
	font-family: Playfair Display, serif;
	color: #AE7C78;
	font-weight: normal;
	font-size: 44px;
	line-height: 58px;
}

.pur{
	width: 1440px;
	margin: 0 auto;
}
.pur p{
	font-weight: normal;
	font-size: 24px;
}

.buket {
	padding-left: 75px;
	line-height: 1.3;
}
.buket>h1{
	margin-top: 81px;
}
.knopka {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	background: #D89999;
	border-radius: 40px;
	padding: 30px 70px;
	border: none;
	color: white;
}
.knp{
	margin-top: 64px; 
}
.pur-1 {
	display: flex;
}
.flowers {
	position: relative;
	margin-left: 65px;
}
.flowers-1{
	margin-top: 140px;
}
.flowers-2{
	padding-bottom: 50px;
	padding-left: 20px;
}

.orders{
	width: 1440px;
	margin: 0 auto;
	display: flex;
	padding-left: 75px;
	padding-top: 48px;
}
.o-1,
.o-2,
.o-3{
	width: 285px;
	margin-left: 20px;
}
.order-logo{
	margin-left: 58px;
	margin-top: 18px;
}

.slider{
	padding-top: 80px;
	text-align: center;
}
.slider p{
	font-style: normal;
}
.slider-main{
	width: 1440px;
	margin: 0 auto;
	display: flex;
}
.slider-info{
	width: 375px;
	text-align: left;
	margin: 63px 20px 51px 323px;
}
.img-slider{
	margin-top: 36px;
	margin-bottom: 24px;
}

.picture-mainer{
	width: 1440px;
	display: flex;
	margin: 0 auto;
	padding-left: 115px;
	padding-top: 80px;
}
.picture-main h3{
	width: 350px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
}
.hoverpicture{
    position: relative;
	margin-left: 19px;
}
.picture-main p{
	font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    width: 350px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
}
.picture-mainer a{
	position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
.picture h3{
	font-family: Playfair Display;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 48px;
}
.picture p{
	font-style: normal;
}
.hoverpicture span {
    height: 442px;
    width: 387px;
    position: absolute;
    background: rgba(174, 124, 120, 0.6);
    border-radius: 10px;
}
.sale-main{
	width: 1440px;
	margin: 0 auto;
}
.sale-mainer{
	margin-top: 80px;
    display: flex;
    background-color: #AE7C78;
    padding-top: 40px;
    padding-left: 102px;
}
.sale-mainer img{
	left: 382px;
	position: relative;
    margin-top: -40px;
	width: 590px;
}
.sale-text{
	height: 100%;
    position: relative;
	padding-bottom: 64px;
}

.sale h3{
	font-family: Playfair Display;
	font-size: 44px;
	font-style: normal;
	line-height: 59px;
	color: #FFFFFF;
}
.sale p{
	font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 24px;
}
.fh2{
	margin-top: 80px;
    display: flex;
	justify-content: center;
}
.border-main{
	width: 1440px;
	margin: 0 auto;
}
.zakaz{
	margin-top: 36px;
    display: flex;
    justify-content: space-between;
    list-style: none;
} 
.zakaz dt {
	text-align:center;
}
.zakaz dd{
	font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;  
    margin-top: 8px;
}
.zakaz img{
	padding-left: 110px;
	margin-bottom: 8px;
}
.zak{
	text-align: center;
    width: 285px;
}
.pod{
	margin-top:80px; 
}
.pod-main{
	width: 1440px;
	margin: 0 auto;
}
.pod-fol{
	display: grid;
    grid-template-columns: 508px 285px 460px; 
    grid-template-rows: 460px;
}
.pod-new{
	margin-top: 70px;
}
.flowers img{ 
    margin-bottom: 16px;
}
.pod-news h2{
	line-height: 48px;  
}
.flowers2{
    padding-left: 85px;
}
.pod p{
	font-size: 24px;
	font-style: normal;
	line-height: 29px;
	margin-top: 40px;
}
.border {
    border: 1px solid #AE7C78;
    box-sizing: border-box;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 120px;
    margin-bottom: 120px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 60px;
}
.reviews {
	width: 1440px;
	margin: 0 auto;
}
.otzv{
	display: flex;
    justify-content: center;
    padding-top: 40px;
}
.rev{
	display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 44px;
    padding-right: 44px;
}
.rev blockquote{
	margin-top: 40px;
    width: 300px;
    padding-bottom: 8px;
}
blockquote{
	font-style: normal;
}
cite{
	font-style: normal;
	font-weight: 500;
}
.contacts{
	height: 644px;
    background: url(../img/map.jpg) no-repeat;
    background-size: cover;
    margin-top: 80px;
    padding-bottom: 100px;
	margin: 0 auto;
	margin-top: 80px;
}
.contacts .cont{
	padding: 32px 0px 72px 255px;
}
.cont{
	margin: 0 auto;
}
.maps {
    width: 386px;
    height: 520px;
    background-color: rgba(247, 250, 252, 1);
    border-radius: 10px;
    text-align: left;
}
.maps h2,
.maps h4,
.maps a,
.maps p {
	margin-left: 35px;
}
.maps h2 {
    padding-top: 40px;
}
.maps h4{
    padding-top: 15px;
}
.contacts a{
	font-style: normal;
	font-weight: 500;
}
.contacts p{
	font-style: normal;
	font-weight: 500;
}
.containerss{
	margin: 0 auto;
}
.logo2{
	padding-left: 125px;
}
footer {
    
    background-color: #AE7C78;;
    height: 97px;
	width: 100%;
	align-self: center;
}
.footer-menu { 
    padding: 24px 0;
	display: flex;
	justify-content: space-between;
	align-self: center;
    width: 100%;
}
.footer-font {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}
.footer-menu ul {
	list-style: none;
	display: flex;
	align-items: center;
}
.footer-menu ul li {
    margin-right: 68px;
    margin-bottom: 4px;
}
.footer-menu ul li a {
    color: #FFFFFF;
}

.social {
    margin-top: 10px;
	margin-right: 115px;
    filter: brightness(10);
}
.social img{
    margin-right: 15px;
}